*{
    box-sizing: border-box;
}
.main{
    width: 720px;
    height: 720px;
    margin: 0 auto;
    border: 2px solid black;
}
.container{
    width: 100%;
    height: 100%;
    margin:0 auto;
    /* overflow: hidden; */
}
.grid-item{
    display: inline-block;
    /* padding-top: 10%; */
}
.row{
    width: 100%;
    /* height: 9.75%; */
}
.row::after {
    content: "";
    clear: both;
    display: table;
  }